.sidebar {
  border-right: solid 1px var(--bs-border-color);
  padding: 1rem;
  overflow-y: auto;
}

.container {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  align-self: start;
  gap: 0.5rem;
}

.colspan {
  grid-column: span 2;
}

.explanation {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1rem;
  row-gap: 0.75rem;
}

.scanValue {
  padding-right: 0.5rem;
}

.values {
  display: flex;
}

.validation {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: max-content max-content;
}

.validationLabel {
  padding-right: 0.5rem;
  margin-top: 2px;
}
